/ionic/node_modules/
/ionic/.angular
/java-spring/target
.idea
angular/.idea/workspace.xml
ionic/capacitor.config.ts
ionic/ionic.config.json
ionic/package-lock.json
ionic/ios
ionic/www
ionic/src/app/package.json
java-spring/.DS_Store
java-spring/src/main/.DS_Store
ionic/.DS_Store
.DS_Store
