<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/helper"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-title">NRNA Student Network</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="white">
      <ion-card-header>
        <ion-card-subtitle class="white"></ion-card-subtitle>
        <ion-card-title class="nrna-card-title ion-text-center">Send Email</ion-card-title>
        <p class="mt-3">These are all the helpers throughout United States. If you need local helpers, please use search button.</p>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          To Send Email to helpers. Click Send Icon
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
